@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;
}

body{
    background-color: #f5f6fe;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.search-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.loading-item{
    width: 5px;
    height: 40px;
    background-color: #2e56f3;
    border-radius: 100px;
    animation: wave 1s ease-in-out infinite;
}

.audio-loading div span{
    width: 4px;
    height: 32px;
}

.loading-item1{
    animation-delay: 0ms;
}

.loading-item2{
    animation-delay: 150ms;
}

.loading-item3{
    animation-delay: 300ms;
}

.loading-item4{
    animation-delay: 450ms;
}

.loading-item5{
    animation-delay: 600ms;
}

.input{
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.home-btn span{
    margin-right: 8px;
    margin-left: 0px;
    transition: 300ms;
}

.home-btn:hover span{
    margin-right: 0px;
    margin-left: 8px;
}

.controller div:first-child{
    cursor: pointer;
}

.controller span{
    position: relative;
}

.controller-input{
    appearance: none;
    outline: none;
    background-color: #d3d3d3;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
}

.controller-input::-webkit-slider-thumb{
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #fff;
    border: #2e56f3 2px solid;
    margin-bottom: 1px;
    transition: .2s;
}

.controller-input::-moz-range-thumb{
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #fff;
    border: #2e56f3 2px solid;
    margin-bottom: 1px;
    transition: .2s;
}

.controller-input:active::-webkit-slider-thumb{
    background: #5eabdf;
}

.controller-input:active::-moz-range-thumb{
    background: #5eabdf;
}

.btn-info{
    box-sizing: border-box;
}

.btn-active{
    background-color: #2e56f3 !important;
    box-shadow: 0px 1px 5px 1px #2e56f37a;
    color: #fff;
    transition: 150ms;
}

.btn-active ~ .section-duration{
    color: #d3d4ff !important;
}

.btn-active:hover{
    background-color: #382ef3 !important;
}

.info-active{
    border-bottom: 3px solid #2e56f3 !important;
    color: #2e56f3;
}

.overflow-x-auto::-webkit-scrollbar{
    /* height: 5px; */
    height: 0px;
    width: 100%;
    border-radius: 5px;
    background-color: #ebe7e7;
}

.overflow-x-auto::-webkit-scrollbar-thumb{
    /* height: 5px; */
    height: 0px;
    width: auto;
    border-radius: 5px;
    background-color: #cccccc;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover{
    background-color: #b9b9b9;
}

.overflow-y-auto::-webkit-scrollbar{
    width: 5px;
    height: 100%;
    border-radius: 5px;
    background-color: #ebe7e7;
}

.overflow-y-auto::-webkit-scrollbar-thumb{
    width: 5px;
    height: auto;
    border-radius: 5px;
    background-color: #cccccc;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover{
    background-color: #b9b9b9;
}

.hamburger-button-toggle{
    height: 0px ;
    opacity: 0 ;
    display: none;
}

.open .hamburger-top{
	transform: rotate(-45deg) translateY(3px) translate(-3px);
}
  
.open .hamburger-middle{
	display: none;
}

.open .hamburger-bottom{
	transform: rotate(45deg) translateY(-2px) translate(-1px);
}

.open .hamburger-middle{
    display: none;
}

.input-form{
    outline: none;
    transition: 150ms;
}

.input-form input{
    outline: none;
    transition: 150ms;
}

.input-form:focus::placeholder{
    color: #2e56f3;
}

.input-form:focus{
    border-color: #2e56f3;
}

.blue-border-b{
    border-bottom: #2e56f3 solid 2px;
}

.red-border-b{
    border-bottom: #f32e2e solid 2px;
}

.input-form-red::placeholder{
    color: #f32e2e !important;
}

.form-btn-active {
    color: white;
    background-color: #2e56f3;
    box-shadow: 0px 2px 8px 1.5px #2e56f37a;
    transition: 150ms;
}

.remove{
    display: none;
}

pre{
    white-space: break-spaces;
    direction: rtl;
    text-align: justify;
    text-justify: inter-word;
}

#volume-range{
    appearance: none;
    outline: none;
    background-color: #d3d3d3;
    height: 2px;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    /* rotate: -90deg; */
}

#volume-range::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #fff;
    border: #2e56f3 2px solid;
    margin-bottom: 1px;
    transition: .2s;
}

#volume-range::-moz-range-thumb{
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #fff;
    border: #2e56f3 2px solid;
    margin-bottom: 1px;
    transition: .2s;
}

#volume-range:active::-webkit-slider-thumb{
    background: #5eabdf;
}

#volume-range:active::-moz-range-thumb{
    background: #5eabdf;
}

.volume-input{
    opacity: 0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes wave {
    0% {
        transform: scaleY(0.3);
    }
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0.3);
    }
}