@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FDFBFE;
}

.input{
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(150, 150, 150);
}

.search{
    background-color: rgb(238, 238, 238);
}